<div class="flex h-screen">
    <nav class="bg-white w-64 p-6 text-gray-800 border-r border-gray-200 shadow-md fixed h-full top-0 left-0">
      <ul class="space-y-2">
        <li>
          <a routerLink="/dashboard" class="flex items-center gap-2 px-3 py-2 rounded hover:bg-gray-50 transition">
            <i class="fas fa-th-large"></i>
            <span>Tableau de bord</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="ml-64 p-6 w-full bg-gray-50 min-h-screen">
      <router-outlet></router-outlet>
    </div>
</div>