<main
  class="pt-10 flex flex-col flex-grow h-full justify-start space-y-4 px-4 bg-white text-gray-800 dark:bg-gray-900 dark:text-white transition-colors duration-300"
>
  <span class="text-gray-400 mb-4" translate> app.predict.note </span>

  <div class="flex flex-row">
    <div class="flex flex-col items-left justify-between w-min">
      <!-- Ligne horizontale -->
      <select
        aria-label="app.input.select-pandemic"
        aria-label-translate
        class="bg-white text-black dark:bg-gray-800 dark:text-white border dark:border-gray-600 p-2 mb-2 rounded"
        name="pandemic"
        id="pandemic"
        [(ngModel)]="pandemicId"
      >
        <option
          *ngFor="let pandemic of pandemics"
          [value]="pandemic.id"
          [selected]="pandemicId == pandemic.id"
        >
          {{ pandemic.name }}
        </option>
      </select>

      <select
        aria-label="app.input.select-country"
        aria-label-translate
        class="bg-white text-black dark:bg-gray-800 dark:text-white border dark:border-gray-600 p-2 mb-2 rounded"
        name="country"
        id="country"
        [(ngModel)]="countryId"
      >
        <option
          *ngFor="let country of countries"
          [value]="country.id"
          [selected]="countryId == country.id"
        >
          {{ country.name }}
        </option>
      </select>

      <date-picker (date)="onDateSelected($event)"></date-picker>

      <button
        (click)="predict()"
        class="bg-blue-500 hover:bg-blue-600 dark:bg-gray-800 dark:hover:bg-blue-600 text-white dark:text-gray-300 dark:hover:text-white font-semibold mt-16 py-2 px-4 border border-blue-500 hover-border-blue-600 dark:border-gray-700 dark:hover:border-blue-600 rounded transition-colors duration-300"
        translate
      >
        app.predict.button
      </button>
    </div>
    <div
      *ngIf="prediction"
      class="p-4 bg-green-100 text-green-900 rounded shadow text-center w-full mx-8 h-min"
    >
      <h3 class="font-bold mb-2" translate>app.predict.result.title</h3>
      <ul>
        <li
          class="mb-2"
          translate
          [translateParams]="{ cases: prediction.new_cases }"
        >
          app.predict.result.cases
        </li>
        <li
          class="mb-2"
          translate
          [translateParams]="{ deaths: prediction.new_deaths }"
        >
          app.predict.result.deaths
        </li>
      </ul>
    </div>
  </div>
</main>
