@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkMode: rgb(22, 22, 22);
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}
